
<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card p-4" style="width: 500px; text-align: center;">

    <h1>Iniciar Sesion</h1>

    <form [formGroup]="formularioLogin" style="    display: flex
;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;" (ngSubmit)="iniciarSesion()">
        
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input 
            formControlName="email" 
            matInput 
            type="email"
            autocomplete="email"
            placeholder="correo@ejemplo.com">
          <mat-icon matPrefix>mail</mat-icon>
          <mat-error *ngIf="formularioLogin.get('email')?.hasError('required')">
            El email es requerido
          </mat-error>
          <mat-error *ngIf="formularioLogin.get('email')?.hasError('email')">
            Email inválido
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input 
            [type]="ocultarPassword ? 'password' : 'text'"
            formControlName="password" 
            matInput 
            autocomplete="current-password"
            placeholder="Contraseña">
          <mat-icon matPrefix>lock</mat-icon>
          <button 
            mat-icon-button 
            matSuffix 
            (click)="ocultarPassword = !ocultarPassword" 
            type="button"
            [attr.aria-label]="'Mostrar contraseña'"
            [attr.aria-pressed]="!ocultarPassword">
            <mat-icon>{{ ocultarPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="formularioLogin.get('password')?.hasError('required')">
            La contraseña es requerida
          </mat-error>
          <mat-error *ngIf="formularioLogin.get('password')?.hasError('minlength')">
            Mínimo 6 caracteres
          </mat-error>
        </mat-form-field>
        <button 
        type="submit" 
            class="btn btn-primary w-100" 

        [disabled]="formularioLogin.invalid || mostrarLoading">
        <i class="bi bi-box-arrow-in-right"></i> Ingresar
        </button>
      </form>

     
        
  </div>
</div>    